@keyframes example {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
@keyframes slidein {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container1 {
  display: flex;

  justify-content: center;
}

.container {
  position: absolute;
  bottom: 0px;
  width: 416px;
  height: 620px;

  background: #ffffff;

  border-radius: 18px;
}

#top {
  display: flex;
  opacity: 0;
  animation-name: show;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  position: absolute;
  width: 416px;
  height: 278px;
  left: 0px;
  top: -1px;
  border-radius: 18px 18px 0px 0px;
  background: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
}

#IRIS {
  position: absolute;
  width: 53px;
  height: 39px;
  left: 56px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;

  opacity: 0;
  animation-name: show;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  color: #ffffff;
}
#Hello {
  position: absolute;
  width: 54px;
  height: 29px;
  left: 56px;
  top: 55px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;

  opacity: 0;
  animation-name: show;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  color: #ffffff;
}
#svg1 {
  position: absolute;

  display: inline;
  top: 79px;
  left: 110px;

  left: 128px;

  opacity: 0;
  animation-name: show;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#text {
  position: absolute;
  width: 228px;
  height: 46px;
  left: 56px;
  top: 94px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  opacity: 0;
  animation-name: show;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  color: #ffffff;
}

#question {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  width: 390px;
  height: 400px;
  align-items: center;
  left: 13px;
  top: 199px;

  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  opacity: 0;
  animation-name: show;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#q1 {
  position: relative;

  height: 18px;

  top: 24px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #2d2d2d;
}

#Conversation {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 44px;

  top: 100px;

  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 100px;

  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
#FAQ {
  position: absolute;
  justify-content: flex-start;
  align-items: center;

  left: 30px;
  top: 40px;

  background: #ffffff;

  box-sizing: border-box;

  opacity: 0;
  animation-name: show;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#RectangleChatBot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 20px;
  top: -30px;
  background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

  border-radius: 60px;
  opacity: 0;
  animation-name: show;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

#FAQ1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10px 5px;
  width: 339px;
  height: 50px;

  top: 60px;

  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
#FAQ2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10px 5px;
  width: 339px;
  height: 50px;

  top: 60px;

  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}
#FAQ3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10px 5px;
  width: 339px;
  height: 50px;

  top: 60px;

  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}
#FAQ4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10px 5px;
  width: 339px;
  height: 50px;

  top: 60px;

  background: #ffffff;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  opacity: 0;
  animation-name: show;
  animation-duration: 1s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
}

.Ellipse4 {
  margin: 5px 10px;

  position: relative;
  justify-content: flex-start;
  width: 8px;
  height: 8px;
  border-radius: 8px;

  background: rgba(255, 118, 0, 0.8);
}
.TEXT2 {
  position: relative;

  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;

  color: #2d2d2d;
}
